<section id="contact" class="my-5">
  <div class="container">
    <h1 class="text-center mb-4">Contato</h1>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label"
        >Email</label
      >
      <input
        [(ngModel)] = 'contactInfo.email'
        type="email"
        class="form-control"
        id="exampleFormControlInput1"
        placeholder="name@example.com"
      />
    </div>
    <div class="mb-3">
      <label for="exampleFormControlTextarea1" class="form-label"
        >Mensagem</label
      >
      <textarea
        [(ngModel)] = 'contactInfo.message'
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"
      ></textarea>
    </div>
    
    <button (click)="submitForm()" [disabled]="disabledButton" class="btn btn-primary">Enviar</button>
    <!-- <button (click)="submitForm()" [disabled]="disabledButtonFunction()" class="btn btn-primary">Enviar</button> -->

    <!-- <pre>Formulário Model {{contactInfo | json}}</pre>
    <pre>TS {{contactInfoTs | json}}</pre> -->
  </div>
</section>