<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!--Navbar-->
  <app-header />
  <!-- End Navbar -->

  <!-- Main -->
  <main i="main">
    <!--Carousel-->
    <app-carousel/>
    <!--End Carousel-->

    <!--Features-->
    <app-features [featuresData] = "features"/> 
    <!--End Features-->

    <!--About-->
    <app-about [aboutData] = "about.text"/>
    <!--End About-->

    <!--Address-->
    <app-address [addressData] = "address"/>
    
    <!--End Address-->

    <!--Contact-->
    <app-contacts (sendForma) = "testeOutput($event)"/>
    <!--End Contact-->

    <!--Button Top-->
    <app-button-top/>

  </main>
  <!-- End Main -->

  <!--Footer-->
  <app-footer/>
  <!--End Footer-->
</body>
</html>